.header {
    background: #f9f9f9;
}

.header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .header .inner {
        flex-direction: column;
    }
}

.header .gnb>ul {
    display: flex;
    gap: 60rem;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li>a {
    display: block;
    line-height: 100rem;
}

.header .gnb li .submenu {
    position: absolute;
    top: 100rem;
    left: 50%;
    transform: translate(-50%, 0);

    display: none;

    text-align: center;
    width: 180rem;
    background: #fff;
    border: 3px solid seagreen;
}

.header .gnb li:hover .submenu {
    display: block;
}

.header .gnb .submenu li~li {
    border-top: 1px solid #ddd;
}

.header .gnb .submenu a {
    display: block;
    line-height: 40rem;
}

@media (max-width: 768px) {
    .header .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 999;

        background: #ddd;
        height: 100vh;
        width: calc(100% - 90rem);

        padding: 100rem 24rem;
        transition: 0.5s;
    }

    .header .gnb.on {
        left: 0;
    }

    .header .gnb>ul {
        flex-direction: column;
        gap: 0;
    }

    .header .gnb>ul>li>a {
        line-height: 40rem;
    }

    .header .gnb li .submenu {
        /* 이거 중요 */
        position: static;
        transform: translate(0, 0);

        /* 늘어나라 */
        width: auto;
        border: none;
    }

    .header .gnb li:hover .submenu {
        display: none;
    }

    .header .gnb .submenu a {
        display: block;
        line-height: 40rem;
    }
}


.section {
    padding: 100rem 0;
}

.section .inner {
    display: flex;
    gap: 30rem;
}

@media (max-width: 768px) {
    .section .inner {
        flex-direction: column;
    }
}

.section figure {
    flex: 1;
}

@media (max-width: 768px) {
    .section .inner img {
        width: 100%;
    }
}

.mopen {
    display: none;
}

@media (max-width: 768px) {
    .mopen {
        display: block;
        position: fixed;
        top: 30rem;
        right: 30rem;
    }
}